@using HM_byDH.Models.ViewModels
@model LoginViewModel
<h2>Đăng nhập</h2>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
    <a asp-action="ForgotPassword">Quên mật khẩu?</a>
    <a asp-action="ResendConfirmationEmail">Gửi lại email xác nhận?</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}