@using HM_byDH.Models.ViewModels;
@using HM_byDH.Models.ViewModels.Authentication

@model ResetPasswordViewModel
<h2>Đặt lại mật khẩu</h2>
<form asp-action="ResetPassword" method="post">
    <input asp-for="Token" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Đặt lại</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}