@using HM_byDH.Models.ViewModels.Meals
@model AddWaterIntakeViewModel
@{
    ViewData["Title"] = "Thêm nước uống";
}

<h2>Thêm nước uống</h2>
<form asp-action="AddWaterIntake" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="IsGoalMet">Đã uống đủ 1.5l nước hôm nay?</label>
        <input asp-for="IsGoalMet" type="checkbox" />
        <span asp-validation-for="IsGoalMet" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" type="datetime-local" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}